<template>
  <div class="create-project" @click.stop="openPopup('project')">
    <div class="material-icons">add</div>
    <div class="title">Create a project</div>
  </div>
</template>

<script>
export default {
  methods: {
    openPopup(type) {
      this.$store.dispatch('openPopup', type);
    },
  },
};
</script>

<style lang="scss" scoped>
  .create-project{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 0px 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    opacity: 0.6;
    align-items: center;
    cursor: pointer;

    .material-icons{
      width: 24px;
      height: 24px;
    }

    .title{
      padding-left: 10px;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .create-project:hover{
    background-color: #e6e6e6;
  }
</style>
