<template>
  <aside :class="[asideStatus ? 'hidden' : '']">
    <div class="first-section">
      <div class="default-view" v-show="!numberOfProjects">
        <div class="material-icons">list</div>
        <div class="desc"> {{projects}} </div>
      </div>
      <div class="project-view" v-show="numberOfProjects">
        <p>Projects:</p>
        <ProjectTiles
          v-for="(project, key) in projects"
          :key="key"
          :id="key">
        </ProjectTiles>
      </div>
    </div>
    <div class="second-section">
      <AddProject></AddProject>
    </div>
  </aside>
</template>

<script>
import CreateProject from './CreateProject.vue';
import ProjectTile from './ProjectTile.vue';

export default {
  components: {
    AddProject: CreateProject,
    ProjectTiles: ProjectTile,
  },
  computed: {
    projects() {
      if (this.numberOfProjects) {
        return this.$store.state.projects;
      }
      return 'No projects yet!';
    },
    numberOfProjects() {
      return this.$store.state.projects.length;
    },

    asideStatus() {
      return this.$store.state.asideHidden;
    },
  },
};
</script>

<style lang="scss" scoped>
aside{
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid rgba(0,0,0,0.12);
  transition: 1s;
  box-sizing: border-box;
  z-index: 99;
  

  .first-section{
    width: 100%;
    min-height: 100px;
    padding: 15px 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0,0,0,0.3);

    .default-view{
      opacity: 0.5;

      .material-icons{
      font-size: 40px;
      }
    }

    .project-view{
      text-align: left;

      p{
        padding: 0 10px;
        margin: 0;
        height: 48px;
        line-height: 48px;
        color: #777;
        font-size: 16px;
      }
    }

  }
}

.hidden{
  left: -300px;
}
</style>
