<template>
  <div class="projectTile">
    <router-link
      :to="{ name: 'Project', params:{id: id}}"
      class="projectLink">
      <div class="material-icons">list</div>
      <div class="title">
        {{project.title}}
      </div>
      <div class="taskAmount">
        {{numberOfTasks}}
      </div>
    </router-link>
  </div>
</template>

<script>

export default {
  props: {
    id: {
      type: Number,
    },
  },
  computed: {
    project() {
      if (this.$store.state.projects.length) {
        return this.$store.state.projects[this.id];
      }
      const empty = [];
      return empty;
    },
    numberOfTasks() {
      if (this.$store.state.projects.length) {
        return this.project.tasks.length;
      }
      return 0;
    },
  },

};
</script>

<style lang="scss" scoped>
.projectTile{
  height: 48px;
  box-sizing: border-box;
  cursor: pointer;

  .projectLink{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: inherit;
    text-decoration: none;
    padding: 10px;
    .material-icons{
      width: 15%;
    }

    .title{
      width: 80%;
    }

    .taskAmount{
      color: #999;
    }
  }

}

.projectTile:hover{
  background-color: #e6e6e6;
}
</style>
