<template>
  <div class="card" >
    <h3>Confirm Delete</h3>
    <p>Deleting a project will delete all its tasks as well. This action can not be undone!</p>
    <input
     type="submit"
     value="CONFIRM DELETE"
     @click="deleteF">
  </div>
</template>

<script>
export default {
  methods: {
    deleteF() {
      this.$store.commit('closePopup');
      const { id } = this.$route.params;
      this.$store.dispatch('deleteProject', { id });
      this.$router.push('/');
    },
  },
};
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');

  h3{
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
  }

  input{
    width: 100%;
    background-color: #F44336;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
    0 2px 2px 0 rgba(0,0,0,.14),
    0 1px 5px 0 rgba(0,0,0,.12);

  }

  input:hover{
    filter: brightness(125%);

  }
</style>
