<template>
  <div class="card" >
    <h3>Edit project title</h3>

    <input
      autocomplete="disabled"
      type="text"
      placeholder="Project Title"
      class="projectTitle"
      v-model="name"
      maxlength="20"
      autofocus="autofocus"
      @keydown.enter="editProject()">
    <input
      type="submit"
      value="SAVE"
      class="submit"
      @click="editProject()">
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: '',
    };
  },
  methods: {
    editProject() {
      this.$store.commit('closePopup');
      const { id } = this;
      this.$store.dispatch('update', { id });
    },
  },

  computed: {
    id() {
      return this.$route.params.id;
    },
    name: {
      get() {
        if (this.$store.state.dataReady) {
          const { title } = this.$store.state.projects[this.id];
          return title;
        }
        return '';
      },
      set(val) {
        const { id } = this;
        this.$store.commit('editProject', { val, id });
      },
    },
  },

};
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');

  h3{
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
  }

  .projectTitle{
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 24px;
    color: #000;
    outline: none;
    margin-bottom: 20px;
  }
  .submit{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    background-color: $green;
    transition: 0.2;
  }

  .submit:hover {
    filter: brightness(120%);
  }
</style>
