<template>
  <div
   class="container"
   v-show="show"
   :key="$route.params.id">
    <div
     class="shadow"
     @click="closePopup()"></div>
      <Project v-show="Project"></Project>
      <span v-if="checkProject">
      <Edit v-show="Edit"></Edit>
      <EditTask v-show="EditTaskname"></EditTask>
      <Delete v-show="Delete"></Delete>
    </span>
  </div>
</template>

<script>
import Project from './ProjectPopup.vue';
import Edit from './EditPopup.vue';
import EditTask from './TasknamePopup.vue';
import Delete from './DeletePopup.vue';

export default {
  components: {
    Project,
    Edit,
    Delete,
    EditTask,

  },
  computed: {
    show() {
      return this.$store.state.showPopup;
    },
    Project() {
      return this.$store.state.project;
    },
    Edit() {
      return this.$store.state.editP;
    },
    EditTaskname() {
      return this.$store.state.editT;
    },
    Delete() {
      return this.$store.state.delete;
    },
    id() {
      return this.$route.params.id;
    },
    checkProject() {
      let val = false;
      if (this.$store.state.dataReady) {
        if (this.$store.state.projects[this.id] === undefined) {
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.$router.push({ name: 'Home', params: { error: true } });
        } else {
          val = true;
        }
      }
      return val;
    },
  },
  methods: {
    closePopup() {
      this.$store.commit('closePopup');
    },
  },
};
</script>

<style lang="scss" scoped>
.container{
  position: relative;
  top: 0;
  left: 0;
  z-index: 9999;
  max-width: 100%;
  height: 100%;

  .card{
    position: absolute;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    min-width: 0;
    max-width: 360px;
    max-height: 204px;
    background-color: #fff;
    padding: 24px 15px;
    box-sizing: border-box;
    text-align: left;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 49px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 49px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 49px -9px rgba(0,0,0,0.75);
  }
}


.shadow{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.4;
  z-index: 1;
}
</style>
