<template>
  <div class="card" >
    <h3>Create a project</h3>
    <input
      autocomplete="disabled"
      type="text"
      placeholder="Project Title"
      class="projectTitle"
      v-model="name"
      maxlength="20"
      autofocus="autofocus"
      @keydown.enter="submitProject()">
    <input
      type="submit"
      value="CREATE PROJECT"
      class="submit"
      @click="submitProject()">
  </div>
</template>

<script>

export default {
  data() {
    return {
      name: '',
    };
  },
  methods: {
    submitProject() {
      const title = this.name;
      const id = this.$store.state.projects.length;
      this.$store.dispatch('createProject', { title });
      this.$router.push({ name: 'Project', params: { id } });
      this.name = '';
    },
  },

};
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');

  h3{
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
  }

  .projectTitle{
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 24px;
    color: #000;
    outline: none;
    margin-bottom: 20px;
  }
  .submit{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    background-color: $green;
    transition: 0.2;
  }

  .submit:hover {
    filter: brightness(120%);
  }
</style>
