<template>
  <div class="card" >
    <h3>Edit task</h3>

    <input
      autocomplete="disabled"
      type="textarea"
      placeholder="Edit task title"
      class="projectTitle"
      maxlength="20"
      v-model="name"
      autofocus="autofocus"
      @keydown.enter="editProject()">
    <input
      type="submit"
      value="SAVE"
      class="submit"
      @click="editProject()">
  </div>
</template>

<script>
export default {
  methods: {
    editProject() {
      this.$store.commit('closePopup');
      const { id } = this.$route.params;
      this.$store.dispatch('update', { id });
    },
  },

  computed: {
    name: {
      get() {
        if (this.$store.state.editId !== undefined) {
          const { id } = this.$route.params;
          const taskId = this.$store.state.editId;
          return this.$store.state.projects[id].tasks[taskId].name;
        }
        return '';
      },
      set(val) {
        const { id } = this.$route.params;
        this.$store.commit('editTask', { val, id });
      },

    },
  },

};
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');

  h3{
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
  }

  .projectTitle{
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 24px;
    color: #000;
    outline: none;
    margin-bottom: 20px;
  }
  .submit{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    background-color: $green;
    transition: 0.2;
  }

  .submit:hover {
    filter: brightness(120%);
  }
</style>
