/* eslint-disable func-names */
<template>
<nav :class="[asideStatus ? 'fullWidth' : '', mobile ? 'mobile' : 'computer']">
  <header>
    <div
     class="sidebar-toggler"
     @click="moveAside"
     v-click-outside="closeAside"
     :mobile="mobile">
      <i class="material-icons">
        menu
      </i>
    </div>
    <div class="header-title">
      <h1>
        {{ title }}
      </h1>
    </div>
    <div class="spacer"></div>
    <div
      class="more-toggler"
      v-show="checkProject"
      @click="openToggler = !openToggler"
      v-click-outside="onClose">
      <i class="material-icons">
        more_vert
      </i>
      <div
      class="list"
      v-show="openToggler"
      >
        <ul>
          <li @click="openPopup('edit')">Edit project title</li>
          <li @click="openPopup('delete')">Delete project </li>
        </ul>
    </div>
    </div>
  </header>
</nav>
</template>

<script>
import Vue from 'vue';

Vue.directive('click-outside', {
  bind(el, binding, vnode) {
    if (vnode.data.attrs === undefined || vnode.data.attrs.mobile === true) {
      // eslint-disable-next-line func-names
      // eslint-disable-next-line no-param-reassign
      el.clickOutsideEvent = function (event) {
        // here I check that click was outside the el and his childrens
        if (!(el === event.target || el.contains(event.target))) {
          // and if it did, call method provided in attribute value
          vnode.context[binding.expression](event);
        }
      };
      document.body.addEventListener('click', el.clickOutsideEvent);
    }
  },
  update(el, binding, vnode) {
    document.body.removeEventListener('click', el.clickOutsideEvent);
    if (vnode.data.attrs === undefined || vnode.data.attrs.mobile === true) {
      // eslint-disable-next-line func-names
      // eslint-disable-next-line no-param-reassign
      el.clickOutsideEvent = function (event) {
        // here I check that click was outside the el and his childrens
        if (!(el === event.target || el.contains(event.target))) {
          // and if it did, call method provided in attribute value
          vnode.context[binding.expression](event);
        }
      };
      document.body.addEventListener('click', el.clickOutsideEvent);
    } else {
      document.body.removeEventListener('click', el.clickOutsideEvent);
    }
  },
  unbind(el) {
    document.body.removeEventListener('click', el.clickOutsideEvent);
  },
});

export default {
  data() {
    return {
      openToggler: false,
    };
  },

  created() {
    window.addEventListener('resize', this.handleResize);
    this.handleResize();
  },
  destroyed() {
    window.removeEventListener('resize', this.handleResize);
  },

  methods: {
    handleResize() {
      const width = window.innerWidth;
      if (width > 1050) {
        this.mobile = false;
      } else {
        this.mobile = true;
      }
    },
    onClose() {
      this.hide();
    },

    hide() {
      this.openToggler = false;
    },
    moveAside() {
      const asideStatus = this.$store.state.asideHidden;
      if (!asideStatus) {
        this.$store.commit('closeAside');
      } else {
        this.$store.commit('showAside');
      }
    },

    openPopup(type) {
      this.$store.dispatch('openPopup', type);
    },

    closeAside() {
      this.$store.commit('closeAside');
    },


  },

  computed: {
    mobile: {
      get() {
        return this.$store.state.mobile;
      },
      set(val) {
        this.$store.commit('mobileSet', { val });
      },
    },
    asideStatus() {
      return this.$store.state.asideHidden;
    },
    id() {
      return this.$route.params.id;
    },

    checkProject() {
      let val = false;
      if (this.$store.state.dataReady) {
        if (this.$store.state.projects[this.id] === undefined) {
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.$router.push({ name: 'Home', params: { error: true } });
        } else {
          val = true;
        }
      }
      return val;
    },
    title() {
      let val = 'TO DO LIST';
      if (this.checkProject) {
        val = this.$store.state.projects[this.id].title;
      }
      return val;
    },
  },
  watch: {
    mobile(newValue) {
      if (newValue) {
        this.closeAside();
      }
    },
  },

};
</script>

<style lang="scss" scoped>
nav {
  header{
    max-width: 100%;
    height: 60px;
    background-color: #00897b;
    display: flex;
    position: relative;
    flex-direction: row;
    box-sizing: border-box;

    .sidebar-toggler{
      width: 50px;
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;

      .material-icons{
        font-size: 24px;
        width: 24px;
        height: 24px;
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        line-height: 1;
        color: #fff;
        cursor: pointer;
        position: relative;
      }
      .material-icons:before{
        position: absolute;
        top: -8px;
        left: -8px;
        content: '';
        width: 40px;
        height: 40px;
        background-color: #fff;
        opacity: 0;
        border-radius: 20px;
        transition: 0.2s;
      }
      .material-icons:hover:before{
        opacity: 0.2;
      }

    }

    .header-title{
      color: #fff;

      h1{
        margin: 0;
        line-height: 60px;
        font-size: 18px;
        transition: 1s;
      }
    }

    .spacer{
      flex-grow: 1;
    }

    .more-toggler{
      position: relative;
      display: flex;
      align-items: center;
      color: #fff;
      user-select: none;
      cursor: pointer;
      margin-right: 10px;

      .list{
        transition: 0.5s;

        ul{
        list-style-type: none;
        text-align: left;
        position: absolute;
        z-index: 999999999;
        top: 10px;
        right: 20px;
        width: 150px;
        background-color: #fff;
        padding: 10px 0;
        -webkit-box-shadow: 0px 1px 14px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 1px 14px -5px rgba(0,0,0,0.75);
        box-shadow: 0px 1px 14px -5px rgba(0,0,0,0.75);
        border-radius: 5px;


        li{
          padding: 0 20px;
          color: #000;
          line-height: 300%;
          cursor: pointer;
          transition: 0.2s;
        }

        li:hover{
          background: #eee;

        }

      }
      }

    }
  }
}

.computer{
  padding-left: 300px;
  transition: 1s;
}

.fullWidth{
  padding: 0 !important;
}

</style>
