<template>
 <main :class="[asideStatus ? 'fullWidth' : '', mobile ? 'mobile' : 'computer']">
   <transition
    name="fade"
    mode="out-in">
    <router-view></router-view>
   </transition>
 </main>
</template>

<script>

export default {
  computed: {
    asideStatus() {
      return this.$store.state.asideHidden;
    },
    mobile() {
      return this.$store.state.mobile;
    }
  },
};
</script>

<style scoped>
main{
  width: 100%;
  height: calc(100% - 60px);
  background-color: #fafafa;
  box-sizing: border-box;
  transition: 1s;
  background-color: #fafafa;
}

.computer{
  padding-left: 300px;
}

.fullWidth, .mobile{
  padding: 0 !important;
}
</style>
