<template>
  <div class="container">
    <div class="centerBlock">
      <i class="material-icons">done</i>
      <p> {{ msg }} </p>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    msg() {
      const err = this.$route.params.error;
      if (err) {
        return 'Sorry, this project doesn\'t exists';
      }
      return 'Relax, and do what really matters!';
    },
  },
};
</script>

<style lang="scss" scoped>
.container{
  position: relative;
  width: 100%;
  height: 100%;

  .centerBlock{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 50vw;
    height: auto;

    .material-icons{
      color: #eee;
      font-size: 90px;
    }

    p{
      color: #bdbdbd;
      margin-top: 0;
    }
  }
}

</style>
