<template>
  <transition
   name="fade"
   mode="out-in">
    <div
     class="container"
     :key="$route.params.id">
        <div class="card">
          <div
           class="default-view"
           v-show="!tasks.length">
            <i class="material-icons">done</i>
            <p>No tasks yet!</p>
          </div>
          <div
           class="task-view"
           v-show="tasks.length">
            <ul class="taskList">
              <TaskTile
                v-for="(task, key) in tasks"
                :key="key"
                :taskId="key"/>
            </ul>
          </div>
        </div>
        <div class="addTaskContainer">
          <input type="text"
            id="addTask"
            aria-label="Add a task"
            autocomplete="disabled"
            v-model="taskName"
            autofocus="autofocus"
            @keydown.enter="addTask">
          <label for="addTask"
            :class='[taskName ? "active" : "", "addTaskLabel",]'>Add a task</label>
        </div>
    </div>
  </transition>
</template>

<script>
import TaskTile from './TaskTile.vue';

export default {
  components: {
    TaskTile,
  },
  data() {
    return {
      taskName: '',
      ready: false,
    };
  },

  methods: {
    addTask() {
      if (this.taskName.trim() !== '') {
        const { id, taskName } = this;
        this.$store.dispatch('addTask', { taskName, id });

        // Clear data
        this.taskName = '';
      }
    },

  },

  computed: {
    id() {
      return this.$route.params.id;
    },

    checkProject() {
      let val = false;
      if (this.$store.state.dataReady) {
        if (this.$store.state.projects[this.id] === undefined) {
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.$router.push({ name: 'Home', params: { error: true } });
        } else {
          val = true;
        }
      }
      return val;
    },
    project() {
      if (this.checkProject) {
        return this.$store.state.projects[this.id];
      }
      return [];
    },

    tasks() {
      if (this.checkProject) {
        return this.project.tasks;
      }
      const tasks = [];
      return tasks;
    },
  },
};
</script>

<style lang="scss" scoped>
.container{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 720px;
  padding: 16px;

  .card{
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),
    0 1px 1px 0 rgba(0,0,0,.14),
    0 1px 3px 0 rgba(0,0,0,.12);
    color: #bdbdbd;
    padding: 16px 0;
    box-sizing: border-box;

    .default-view{
      padding: 0;

      .material-icons{
        font-size: 36px;
      }

      p{
        margin-bottom: 0;
        margin-top: 0;
        color: #9e9e9e;
      }
    }

    .task-view{
      padding: 0;
      max-width: 100%;

      .taskList{
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .addTaskContainer{
    position: relative;
    padding-top:50px;
    #addTask{
      position: relative;
      box-sizing: border-box;
      width: 100%;
      border: none;
      border-bottom: 1px solid #333;
      background-color: transparent;
      font-size: 16px;
      color: rgba(0,0,0,.87);
      height: 30px;
    }
    #addTask:focus{
      outline: none;
    }

    #addTask:after{

      width: 100px;
      height: 100px;
      content: 'kurwaaaaa';
      top: 0;
      left: 0;
      background-color: #000;
    }

    .addTaskLabel{
      position: absolute;
      bottom:0;
      left:0;
      line-height: 30px;
      cursor: text;
      transition: 0.5s;
      user-select: none;
      font-weight: 600;
    }

    .active{
      bottom: 30px;
    }

    #addTask:focus ~ .addTaskLabel{
      bottom: 30px;
      color: $green;
    }
  }


}
</style>
