<template>
<div>
  <div class="taskList-item">
    <div class="checkTask">
      <label class="checkLabel">
        <input type="checkbox" v-model="checked">
        <i v-show="!checked" class="material-icons">check_box_outline_blank</i>
        <i v-show="checked" class="material-icons">check_box</i>
      </label>
    </div>
    <div
     :class="[{done: checked}, 'taskName']"
     @click="editTask()">
      {{task.name}}

    </div>
    <div class="deleteTask" @click="deleteTask">
      <i class="material-icons">delete</i>
    </div>
  </div>
</div>
</template>

<script>
export default {
  props: {
    taskId: {
      type: Number,
    },
  },

  computed: {
    checked: {
      get() {
        if (this.$store.state.dataReady) {
          return this.task.complete;
        }
        return false;
      },
      set(val) {
        const { id, taskId } = this;
        this.$store.dispatch('completeTask', { val, id, taskId });
      },
    },
    id() {
      return this.$route.params.id;
    },
    task() {
      if (this.$store.state.dataReady) {
        return this.$store.state.projects[this.id].tasks[this.taskId];
      }

      const task = {};
      return task;
    },
  },
  methods: {
    deleteTask() {
      const { id, taskId } = this;
      this.$store.dispatch('deleteTask', { id, taskId });
    },
    editTask() {
      this.$store.commit('openPopup');
      const id = this.taskId;
      this.$store.commit('openEditT', { id });
    },
  },
};

</script>

<style lang="scss" scoped>
.taskList-item{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 48px;
  padding: 0 16px;
  cursor: pointer;

  .checkTask{
    width: 56px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    input{
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    .checkLabel{
      user-select: none;
      cursor: pointer;
      transition: 0.2s;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .taskName{
    height: 100%;
    display: flex;
    align-items: center;
    width: 90%;
    color: #333;
    transition: 0.5s;
    overflow: hidden;
  }

  .done{
    text-decoration: line-through;
    color: #a8a8a8;
  }

  .done ~ .deleteTask{
    opacity: 1;
  }

  .deleteTask{
    user-select: none;
    opacity: 0;
    transition: 0.1s;
  }
}

.taskList-item:hover{
  background-color: #f5f5f5;

  .deleteTask{
    opacity: 1;
  }
}

</style>
