<template>
  <div id="app" >
    <div class="container">
      <div id="nav">
        <NavbarAside></NavbarAside>
        <HeaderCom></HeaderCom>
      </div>
      <MainComponent></MainComponent>
    </div>

    <PopupContainer></PopupContainer>
  </div>
</template>

<script>
import HeaderComponent from './header/HeaderComponent.vue';
import AsideComponent from './aside/NavbarAside.vue';
import Popup from './popups/PopupContainer.vue';
import ContentComponent from './content/ContentComponent.vue';

export default {
  components: {
    HeaderCom: HeaderComponent,
    NavbarAside: AsideComponent,
    PopupContainer: Popup,
    MainComponent: ContentComponent,
  },
  computed: {
    show() {
      return this.$store.state.showProjectPopup;
    },
  },
  created() {
    this.$store.dispatch('connFirebase');
  },

};
</script>

<style>
body{
  padding: 0;
  margin: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
</style>
<style lang="scss" scoped>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


}


</style>
